.characters-container {
   display: flex;
   width: 80vw;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1rem;
}

.character-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   flex-shrink: 0;
   width: 20rem;
   border: 2px solid gray;
   border-radius: 2rem;
   padding: 1rem 0;
}
.character-card__image {
   width: 15rem;
   border-radius: 100%;
}
.character-card__text {
   width: 15rem;
   margin: 1rem auto 0.5rem;

   text-align: left;
}
.character-card button {
   width: max-content;
   margin: 0 auto;
}